<div class="nav-collapse">
	<ul class="nav">
		<li class="dropdown">
			<a data-toggle="dropdown" class="dropdown-toggle" href="#">{{dropdownName}} <b class="caret"></b></a>
			<ul class="dropdown-menu"></ul>
		</li>
	</ul>
</div>