<h2>Logs</h2>
<table class="table" style="margin-top:20px;">
	<thead>
		<tr>
			<th>Agent</th>
			<th>Action</th>
			<th>Time</th>
			<th>User</th>
		</tr>
	</thead>
	<tbody id="logActionContainer"></tbody>
</table>