<h3>Results</h3>
<div>
<p class="results-spinner"></p>
</div>
<div id="actionStats"></div>
<div id="actionResultsCollection"></div>
<div id="actionResultsPaginator"></div>
<div id="actionAggregates"></div>