<table class="table">
	<tbody>
		<tr>
			<td>Started at</td><td>{{formatted.starttime}}</td>
		</tr>
		<tr>
			<td>Total time</td><td>{{formatted.totaltime}} seconds</td>
		</tr>
		<tr>
			<td>Discovery time</td><td>{{formatted.discoverytime}} seconds</td>
		</tr>
	</tbody>
</table>