<div class="nav-collapse">
	<ul class="nav">
		<li><a href="/#/log/">Logs</a></li>
		<li class="dropdown">
			<a data-toggle="dropdown" class="dropdown-toggle" href="#">Admin <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/#/admin/policies/">Policies</a></li>
			</ul>
		</li>
	</ul>
</div>
