{{! Copyright 2013 ajf http://github.com/ajf8 }} 
{{! }} 
{{! Licensed under the Apache License, Version 2.0 (the "License"); }} 
{{! you may not use this file except in compliance with the License. }} 
{{! You may obtain a copy of the License at }} 
{{! }} 
{{!     http://www.apache.org/licenses/LICENSE-2.0 }} 
{{! }} 
{{! Unless required by applicable law or agreed to in writing, software }} 
{{! distributed under the License is distributed on an "AS IS" BASIS, }} 
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. }} 
{{! See the License for the specific language governing permissions and }} 
{{! limitations under the License. }} 
{{! }} 

<div id="requestHeaderRegion">
</div>
<ul class="nav nav-tabs" id="requestTabs">
<li class="active"><a href="#requestFormRegion" data-toggle="tab">Inputs</a></li>
<li><a href="#requestFilterRegion" data-toggle="tab">Discovery Filters</a></li>
{{#if includeShell}}
<li><a href="#requestShellRegion" data-toggle="tab">Shell</a></li>
{{/if}}
</ul>
<div class="tab-content">
<div class="tab-pane active" id="requestFormRegion"></div>
<div class="tab-pane" id="requestFilterRegion"></div>
{{#if includeShell}}
<div class="tab-pane" id="requestShellRegion"></div>
{{/if}}
</div>