{{! Copyright 2013 ajf http://github.com/ajf8 }} 
{{! }} 
{{! Licensed under the Apache License, Version 2.0 (the "License"); }} 
{{! you may not use this file except in compliance with the License. }} 
{{! You may obtain a copy of the License at }} 
{{! }} 
{{!     http://www.apache.org/licenses/LICENSE-2.0 }} 
{{! }} 
{{! Unless required by applicable law or agreed to in writing, software }} 
{{! distributed under the License is distributed on an "AS IS" BASIS, }} 
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. }} 
{{! See the License for the specific language governing permissions and }} 
{{! limitations under the License. }} 
{{! }}
<label class="filter-type-label">{{filterTypeName}}</label>
<input type='text' class="filter-key" name="term_key"></input>
<select class="filter-operator" style="width:60px;" name="term_operator">
<option value="==">==</option>
<option value="!=">!=</option>
<option value="=~">=~</option>
<option value=">">&gt;</option>
<option value="<">&lt;</option>
</select>
<input type='text' class="filter-value" name="term"></input>
<a href="#" class="filter-member-remove-link" data-id="{{cid}}"><i class="icon-remove filter-remove-icon"></i></a>