<div class="btn-toolbar">
<div class="btn-group remote-filters-group" style="display:none;">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <span class="dropdown-active">Unnamed Filter</span>
	<span class="caret"></span> </a>
	<ul class="dropdown-menu">
	</ul>
</div>
<div class="btn-group">
	<a class="btn save-link"><i class="icon-check"></i> </a>
	<a class="btn add-link"><i class="icon-plus"></i> </a>
	<a class="btn filter-remove-link"><i class="icon-trash"></i> </a>
</div>
</div>