# main config
libdir = /usr/libexec/mcollective
logfile = /tmp/mcollective-client.log
loglevel = debug
identity = fqdn

# connector plugin config
connector = stomp
plugin.stomp.host = <%= @stomp_host %>
plugin.stomp.port = <%= @stomp_port %>
plugin.stomp.user = <%= @stomp_user %>
plugin.stomp.password = <%= @stomp_pass %>

plugin.redis.host = <%= @redis_host %>
plugin.redis.port = <%= @redis_port %>
plugin.redis.db = 0

# security plugin config
securityprovider = psk
plugin.psk = unset

#default_discovery_method = redisdiscovery
direct_addressing = yes
