.filterAddBar
{
  padding-bottom:10px;
}

.filter-remove-icon
{
  margin-left:10px;
  vertical-align:center;
}

label.filter-type-label {
   width: 70px;
   display: inline-block;
   text-align: right;
   margin-right:10px;
}

#filterFormContainer
{
  padding-bottom:0px;
}

#filterFormContainer fieldset
{
  margin-bottom:20px;
}

#actionRequestRegion
{
  margin-bottom:20px;
}

#actionAggregates i.aggregate-icon
{
  padding-right:20px;
}

#actionAggregates td.aggregate-value
{
  font-size:16px;
  font-weight:bold;
}

#actionResultsRegion > div > div
{
  display: block;
  clear:both;
}

body .complex-type-view-modal {
    /* new custom width */
    width: 900px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -450px;
}