.table-borderless td,
.table-borderless th{ 
    border: 0 !important
}

/* line 75, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/bootstrap-sass-2.3.1.0/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown-menu > div.agent-menu-container > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

/* line 91, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/bootstrap-sass-2.3.1.0/vendor/assets/stylesheets/bootstrap/_dropdowns.scss */
.dropdown-menu > div.agent-menu-container > li > a:hover,
.dropdown-menu > div.agent-menu-container > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  text-decoration: none;
  color: white;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0077B3', GradientType=0);
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.box {
  background: none;
}

.accordion-body > .dropdown-menu 
{
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0px;
  display: block;
  position: static;
}

form.navbar-search a > img
{
  padding-right:5px;
}

ul.dropdown-menu li > a > img
{
  padding-right:10px;
}

#mainContent div.tab-content
{
  overflow:hidden;
}