.node-status-icon
{
  background-repeat:no-repeat;
  width: 24px;
  background-position:center; 
}

.node-icon-ok
{
  background-image: url(image-path('yes24.png'));
}

.node-icon-fail
{
  background-image: url(image-path('no24.png'));
}
