{{#if label}}
  <label>{{label}}</label>
{{/if}}
<div class="btn-group">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    <span class="selection">
    </span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  </ul>
</div>
