<label>{{title}}</label>
<div class="btn-group">
<button class="btn btn-default dropdown-toggle" type="button" id="{{dropdownId}}" data-toggle="dropdown">
  <span class="selection">
  {{title}}
  </span>
  <span class="caret"></span>
</button>

<ul class="dropdown-menu" role="menu" aria-labelledby="{{dropdownId}}">
</ul>
</div>