<h2>Policies</h2>
<br />
<div id="policiesEnabled">
</div>
<div id="allowUnconfigured">
</div>
<div id="defaultPolicyEnabled">
</div>
<br />
<div>
  <a href="#" class="create-agent-policy-link"><i class="icon-plus" style="margin-right:10px;"></i>Create a new agent policy</a>
</div>
<br />
<div id="agentPolicies">
</div>
