<div class="modal agent-policy-modal">
  <div class="modal-header">
    <h2>
    Create default policy
    </h2>
    <p>This policy will be checked if there is no policy for the specific agent.</p>
  </div>
  <div class="modal-body">
    <form>
      <div class="action-input-container">
        <label>Action</label>
        <input name="action_name" class="form-control" value="*"></input>
      </div>
      <div class="users-dropdown-container">
      </div>
      <div class="policy-dropdown-container">
        <label>Policy</label>
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="selection">
              allow
            </span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a role="menuitem" tabindex="-1" href="#" data-id="allow">
                allow
              </a>
            </li>
            <li>
              <a role="menuitem" tabindex="-1" href="#" data-id="deny">
                deny
              </a>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary policy-submit-button" disabled="disabled">OK</button>
    <button class="btn btn-inverse policy-cancel-button">Cancel</button>
  </div>
</div>
