<td>
  <div class="user-dropdown-container">
  </div>
</td>
<td>
{{#if isDefault}}
  <div class="action-input-container">
    <input style="margin-bottom:0px;" type="text" name="action_name" class="input-small" value="{{action_name}}"></input>
    <button class="btn">Save</button>
  </div>
{{else}}
  <div class="action-dropdown-container">
{{/if}}
  </div>
</td>
<td>
  <div class="policy-dropdown-container">
  </div>
</td>
<td>
  <a class="remove-policy-link" href="#" data-id="{{id}}"><i class="icon-remove" data-id="{{id}}"></i></a>
</td>
