<td>
  <div class="user-dropdown-container">
  </div>
</td>
<td>
{{#if isDefault}}
  <div class="action-input-container">
    <input name="action_name" class="form-control" value="{{action_name}}"></input>
  </div>
{{else}}
  <div class="action-dropdown-container">
{{/if}}
  </div>
</td>
<td>
  <div class="policy-dropdown-container">
  </div>
</td>
<td>
  <a class="remove-policy-link" href="#" data-id="{{id}}"><i class="icon-remove" data-id="{{id}}"></i></a>
</td>
