<div>
  <h2 style="display:inline;vertical-align:middle;padding-right:20px;">{{id}}</h2><span><a href="#" class="create-agent-policy-link" data-id="{{id}}"><i class="icon-plus"></i></a></span>
</div>
<table class="table">
  <thead>
      <tr>
          <th>
              User
          </th>
          <th>
              Action
          </th>
          <th>
              Policy
          </th>
      </tr>
    </thead>
  <tbody class="policies-container">
  </tbody>
</table>
