<table class="table">
  <thead>
      <tr>
          <th>
              Agent
          </th>
          <th>
              User
          </th>
          <th>
              Action
          </th>
          <th>
              Policy
          </th>
      </tr>
    </thead>
  <tbody class="policies-container">
  </tbody>
</table>
