<td>
  <div class="user-dropdown-container">
  </div>
</td>
<td>
  <div class="action-dropdown-container">
  </div>
</td>
<td>
  <div class="policy-dropdown-container">
  </div>
</td>
<td>
  <a class="remove-policy-link" href="#" data-id="{{id}}"><i class="icon-remove" data-id="{{id}}"></i></a>
</td>
