{{#if nodemodel.attributes.checkin_age}}
<p>Last registration from <strong>{{nodemodel.attributes.id}}</strong> received <strong>{{lastCheckinFormatted}}</strong>.</p>
{{/if}}
<div id="nodeAgentItemContainer" style="margin-top:20px;">	
</div>